extends ../../template/layout2.pug
block append scripts
	script(type="text/javascript", src="../../js/contest/contest_show.js")
block append comment
	div#container
		div#navbar.navbar-collapse.collapse(style={"text-align": "center"})
			ul.nav.navbar-nav(style={"display": "inline-block", "float": "none", "font-size": "1.5em"})
				li
					a(href='../index.html') zhbitOJ
				li
					a(href='../contest_list.html') Contests
				li
					a#c_show Problems
				li
					a#c_status Status
				li
					a#c_rank RankList
				li
					a(href='./contest_list.html') Notice
				li
					a(href='../discuss.html') Discuss
			div#userinfo.nav.navbar-nav.navbar-right
				button#userlogin.loginbtn Login
				button#userregister.loginbtn
					a(href='./user/register.html') Register
		div
			div(style={"text-align":"center"})
				h1#cid_ctitle
				p Start-Time: #{start_time} End-time:#{end_time} Type: #{security_type}
				p Current System Time:
				button#settings.btn.btn-info(type="button") 修改题库信息
			div
				table.table.table-hover
					thead
						tr
							th Problem ID
							th Solved
							th Title
							th Radio(AC/Submit)
					tbody#c_list