div#gray
div#popup.popup
	div.top_nav#top_nav
		div(align="center")
			span 登录账号
			a.close(style={"font-size": "50px"}) ×
	div.min
		div.loginbtn_login
			div.content
				form#form_login.form-horizontal(name="form_login", target="_top")
					div.form-group.form-inline
						label.col-sm-3.control-label(for="name") 用户名
						input#name.col-sm-8.input-lg.input_yh.form-control(type="text", name="name", required="required", autocomplete="off")
					div.form-group.form-inline
						label.col-sm-3.control-label(for="passwd") 密码
						input#passwd.col-sm-8.input-lg.input_mm.form-control(type="password", name="pass", required="required", autocomplete="off")
					div.form-group
						div.col-sm-offset-3.col-sm-10
							div.checkbox
								input(type="checkbox")
								| 记住密码
					div.form-group
						label.col-sm-offset-8
							a(href="") 遇到登录问题
					div.form-group.form-inline
						div.col-sm-offset-3.col-sm-2
							button#login_submit.btn.btn-default(type="button" disabled) 登录
						div.col-sm-offset-7
							button.btn.btn-default(type="button") 立即注册
					hr(align="center")
					div(align="center") 期待更多功能