extends ../template/layout
block append comment
	div#Layer
		div#bg
			include ../template/navbar
			div.container.page-container
				div.jumbotron
					h1 Welcome to ZhbitOJ
					p Everyone you meet is fighting a batttle you konw onthing about.
					p Be kind,always.
					p
						a(class='btn btn-primary btn-lg', href='#', role='button') Start &raquo;
			div(style={"text-align":"center"})
				div.footer.footer-index
					p Copyright &copy;2017 Kexie.