include ../template/layout
	body
		div
			div
				include ../template/navbar
				div.container-fluid
					div#container-title
						div Problem List
						div Search
					div
						table.table.table-striped(cellspacing='0', cellpadding='0', border='0', style={width:'100%'})
							thead
								tr
									th.col-md-1
										span Status
									th.col-md-2
										span Status
									th.col-md-6
										span Status
									th.col-md-3
										span Status
							tbody#prmlist
								tr
									td
										div √
									td
										div 1000
									td
										div CCCCCCCCC
									td
										div 100% (1/1)
								tr
									td
										div √
									td
										div 1000
									td
										div CCCCCCCCC
									td
										div 100% (1/1)